##
## Copyright 2014-2017 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
#set($typeDocMetaList = $typeDocMeta.nestTypeDocMetaList)
#if (!$typeDocMeta.parameterTypeDocMetaList.isEmpty())
    #set($typeDocMetaList = $typeDocMeta.parameterTypeDocMetaList)
#end
#if (!$typeDocMetaList.isEmpty())
<table>
    <thead>
    <tr>
        <th class="rownumhead">No.</th>
        <th>name</th>
        <th>type</th>
        <th>comment</th>
        <th>annotations</th>
    </tr>
    </thead>
#foreach ($nestTypeDocMeta in $typeDocMetaList)
#set($rowspan = 1)
#if (!$nestTypeDocMeta.nestTypeDocMetaList.isEmpty())
#set($rowspan = 2)
#end
    <tr>
        <td class="rowcellnum" rowspan="$rowspan">${foreach.count}</td>
        <td>${nestTypeDocMeta.name}</td>
        <td><p title="$manager.htmlEscape($nestTypeDocMeta.typeName)">$manager.htmlEscape($nestTypeDocMeta.simpleTypeName)</p></td>
        <td class="fieldcomment">
            <p title="$!manager.htmlEscape($nestTypeDocMeta.comment)">$!manager.htmlEscape($nestTypeDocMeta.description)</p>
            <p>$!manager.htmlEscape($nestTypeDocMeta.value)</p>
        </td>
        <td class="fieldannotations">
#foreach ($annotation in $nestTypeDocMeta.annotationList)
            &#64;${annotation}
#if (!$foreach.isLast())
,
#end
#end
        </td>
    </tr>
#if (!$nestTypeDocMeta.nestTypeDocMetaList.isEmpty())
    <tr>
        <td colspan="4">
            <div class="nestedbean">
$generator.parse("om/java/plugin/lastaflute/LaDocHtmlTypeDocMeta.vm", null, "typeDocMeta", $nestTypeDocMeta)
            </div>
        </td>
    </tr>
#end
#end
</table>
#end
