##
## Copyright 2014-2017 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>${table.tableMap.appName} lastadoc</title>
    <style type="text/css">
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS P Gothic", "MS Pゴシック", sans-serif;
    font-size: 80%;
    margin: 10px 5px 5px 15px;
    background-color: #F9FCEB;
}

/* heading */
h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 3px 0;
    background-color: #882255;
    color: #F9FCEB;
    text-indent: 2em;
    letter-spacing: 0.2em;
}
h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 3px 0;
    background-color: #9e4873;
    color: #F9FCEB;
    text-indent: 2em;
    letter-spacing: 0.2em;
}
h3 {
    margin: 2em 0 0.5em 0;
    font-size: 1.8em;
    border-left: 0.5em solid #882255;
    background-color: #CFA7BB;
    text-indent: 0.3em;
    line-height: 1.5em;
}
h4 {
    padding: 0 0 0 10px;
    margin: 1em 10% 0 1em;
    border-top: solid 1px #882255;
    border-bottom: solid 1px #882255;
    font-size: 1.4em;
    color: #333333;
}

/* total info */
.navilinkarea {
    text-align: right;
}
.sisterlink {
    margin-top: 0.6em;
    font-size: 120%;
}
.sistersublink {
    margin-top: 0.6em;
    font-size: 85%;
}
.sisterneighborlink {
    margin-top: 0.6em;
    font-size: 100%;
}
.doctitle {
    font-size: 1.2em;
    color: #889977;
}
.docsubtitle {
    font-size: 1.0em;
    color: #889977;
}
.docmainvalue {
    font-size: 1.3em;
    color: #221188;
}
.docsubvalue {
    font-size: 1.1em;
    color: #221188;
}
p.docsubitem {
    padding: 0.2em 0 0 1.5em;
}
.docannotations {
    color: #666666;
}

/* table */
table {
    border-collapse:collapse;
    margin: 0.3em 0 1em 0;
}
table, th {
    border: 1px solid #555;
}
th {
    background-color: #E4AAA4;
    font-size: 0.8em;
    padding: 0 0.2em 0 0.2em;
}
td {
    border-bottom: 1px dotted #aaa;
    border-left: 1px solid #555;
    padding:2px;
}
.nestedbean {
    margin: 0 0 0 1.5em;
}
.tablecomment {
    font-size: 0.8em;
    color: #3F7E5E;
    padding:0.5em 0 0.5em 1em;
    margin-bottom: 1em;
}
.fieldcomment {
    font-size: 0.9em;
    color: #3F7E5E;
}
.fieldannotations {
    font-size: 0.9em;
    color: #666666;
}
.rowcell {
    white-space: nowrap;
}
.rowcellnum {
    text-align: right;
    font-size: 0.4em;
    color: #444;
}

/* inner table */
table.child {
    margin: 3px;
}
table.child th {
    font-size: 0.7em;
}
table.child, table.child td, table.child th {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
.clsgroup {
    font-size: 1.2em;
    padding-left: 4px;
    padding-right: 4px;
}
    </style>
</head>
<body>
<div style="position:fixed; width:95%"><div align="right"><a href="#top">▲Page Top</a></div></div>
<h1>lastadoc for ${table.tableMap.appName}</h1>
<div class="navilinkarea">
#set ($linkDelimiter = "")
#if ($table.tableMap.hasSchemaHtml)
<p class="sisterneighborlink"><a href="${table.tableMap.schemaHtmlPath}">to SchemaHTML</a></p>
#end
#if ($table.tableMap.appList.size() > 1)
<p class="sisterneighborlink">
#foreach ($app in $table.tableMap.appList)
${linkDelimiter}
#if ($app.appName == $table.tableMap.appName)
to ${app.appName}
#else
<a href="${app.lastadocPath}">to ${app.appName}</a>
#end
#set ($linkDelimiter = "|")
#end
</p>
#end

<p class="sisterneighborlink">
    #if ($table.tableMap.actionDocMetaList)
    <a href="#lastadoc_action">to action($table.tableMap.actionDocMetaList.size())</a>
    #else
    <a href="#lastadoc_action">to action($table.columnList.size())</a>
    #end
    #if ($table.tableMap.mailList.size() > 0)
    | <a href="#lastadoc_mail">to mail($table.tableMap.mailList.size())</a>
    #end
    #if ($table.tableMap.templateList.size() > 0)
    | <a href="#lastadoc_template">to template($table.tableMap.templateList.size())</a>
    #end
    #if ($table.tableMap.appclsMap.classificationTopList.size() > 0)
    | <a href="#lastadoc_appcls">to appcls($table.tableMap.appclsMap.classificationTopList.size())</a>
    #end
    #if ($table.tableMap.webclsMap.classificationTopList.size() > 0)
    | <a href="#lastadoc_webcls">to webcls($table.tableMap.webclsMap.classificationTopList.size())</a>
    #end
</p>
</div>

<h2 id="lastadoc_action">action</h2>
#if ($table.tableMap.actionDocMetaList)
<table>
    <thead>
    <tr>
        <th rowspan="2">No.</th>
        <th rowspan="2">URL</th>
        <th rowspan="2">description</th>
        <th rowspan="2">class#method</th>
        <th rowspan="2">Form or Body</th>
        <th rowspan="2">return</th>
        <th colspan="3">count</th>
    </tr>
    <tr>
        <th>fields</th>
        <th>class line</th>
        <th>method line</th>
    </tr>
    </thead>
    <tbody id="table-list-body">
#foreach ($actionDocMeta in $table.tableMap.actionDocMetaList)
    <tr>
        <td class="rowcellnum">${foreach.count}</td>
        <td class="rowcell"><a href="#$manager.htmlEscape($actionDocMeta.url)">$manager.htmlEscape($actionDocMeta.url)</a></td>
        <td class="rowcell">$!manager.htmlEscape($actionDocMeta.description)</td>
        <td class="rowcell"><span title="$manager.htmlEscape($actionDocMeta.typeName)">$manager.htmlEscape($actionDocMeta.simpleTypeName)</span>#${actionDocMeta.methodName}()</td>
        <td class="rowcell">
#if ($actionDocMeta.formTypeDocMeta)
            <span title="$manager.htmlEscape($actionDocMeta.formTypeDocMeta.typeName)">$manager.htmlEscape($actionDocMeta.formTypeDocMeta.simpleTypeName)</span>
#end
        </td>
        <td class="rowcell">
#if ($actionDocMeta.returnTypeDocMeta)
            <span title="$manager.htmlEscape($actionDocMeta.returnTypeDocMeta.typeName)">$manager.htmlEscape($actionDocMeta.returnTypeDocMeta.simpleTypeName)</span>
#end
        </td>
        <td class="rowcellnum">$!actionDocMeta.fieldTypeDocMetaList.size()</td>
#if ($actionDocMeta.fileLineCount != 0)
        <td class="rowcellnum">$!{actionDocMeta.fileLineCount}</td>
#end
#if ($actionDocMeta.methodLineCount != 0)
        <td class="rowcellnum">$!{actionDocMeta.methodLineCount}</td>
    </tr>
#end
#end
    </tbody>
</table>

#foreach ($actionDocMeta in $table.tableMap.actionDocMetaList)
<h3 id="$manager.htmlEscape($actionDocMeta.url)">
$manager.htmlEscape($actionDocMeta.url)
</h3>
<p>
<span class="doctitle">Execute Method:</span> <span class="docmainvalue">$manager.htmlEscape($actionDocMeta.typeName)#${actionDocMeta.methodName}()</span>
</p>
#if ($actionDocMeta.annotationList)
<p class="docsubitem">
<span class="docsubtitle">annotations:</span>
#foreach($annotation in $actionDocMeta.annotationList)
<span class="docannotations docsubvalue">&#64;${annotation}</span>
#end
</p>
#end
#if ($actionDocMeta.typeComment)
<p class="tablecomment" style="white-space:pre-wrap;">$manager.htmlEscape($actionDocMeta.typeComment)</p>
#end
#if ($actionDocMeta.methodComment)
<p class="tablecomment" style="white-space:pre-wrap;">$manager.htmlEscape($actionDocMeta.methodComment)</p>
#end
#if (!$actionDocMeta.parameterTypeDocMetaList.isEmpty())
<span class="doctitle">URL Parameter:</span>
$generator.parse("om/java/plugin/lastaflute/LaDocHtmlTypeDocMeta.vm", null, "typeDocMeta", $actionDocMeta)
#end
#if ($actionDocMeta.formTypeDocMeta)
<span class="doctitle">Form or Body:</span> <span class="docsubvalue"><span title="$manager.htmlEscape($actionDocMeta.formTypeDocMeta.typeName)">$manager.htmlEscape($actionDocMeta.formTypeDocMeta.simpleTypeName)</span></span>
<p class="tablecomment" title="$!manager.htmlEscape($actionDocMeta.formTypeDocMeta.comment)">$!manager.htmlEscape($actionDocMeta.formTypeDocMeta.description)</p>
$generator.parse("om/java/plugin/lastaflute/LaDocHtmlTypeDocMeta.vm", null, "typeDocMeta", $actionDocMeta.formTypeDocMeta)
#end
#if ($actionDocMeta.returnTypeDocMeta)
<span class="doctitle">Return as:</span> <span class="docsubvalue"><span title="$manager.htmlEscape($actionDocMeta.returnTypeDocMeta.typeName)">$manager.htmlEscape($actionDocMeta.returnTypeDocMeta.simpleTypeName)</span></span>
<p class="tablecomment" title="$!manager.htmlEscape($actionDocMeta.returnTypeDocMeta.comment)">$!manager.htmlEscape($actionDocMeta.returnTypeDocMeta.description)</p>
#if ($actionDocMeta.returnTypeDocMeta.simpleTypeName == 'HtmlResponse' && $actionDocMeta.returnTypeDocMeta.value)
<p class="docsubitem"><span class="docsubtitle">implementations:</span> <span class="docsubvalue">${actionDocMeta.returnTypeDocMeta.value}</span></p>
#end
$generator.parse("om/java/plugin/lastaflute/LaDocHtmlTypeDocMeta.vm", null, "typeDocMeta", $actionDocMeta.returnTypeDocMeta)
#end
#end
#else
#foreach ($column in $table.columnList)
${column.url} :: ${column.className}<br>
#end
#end

$generator.parse("om/java/plugin/lastaflute/LaMailFluteDocHtml.vm", null, "mailList", $table.tableMap.mailList)
$generator.parse("om/java/plugin/lastaflute/LaPmTemplateDocHtml.vm", null, "templateList", $table.tableMap.templateList)
$generator.parse("om/java/plugin/lastaflute/LaAppCDefDocHtml.vm", null, "appclsMap", $table.tableMap.appclsMap)
$generator.parse("om/java/plugin/lastaflute/LaWebCDefDocHtml.vm", null, "webclsMap", $table.tableMap.webclsMap)
</body>
</html>
